
@import url("https://fonts.googleapis.com/css?family=Karla&display=swap");

* {
  box-sizing: border-box;
}

*::before * ::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #070707;
}

a:link {
  transition: all 0.3s ease 0s;
}

a:visited {
  color: #070707;
}

a:hover {
  color: #28b0ff;
}

a:active {
  color: #28b0ff;
}

html {
  overflow-y:scroll; 
}

body {
  padding-left: 2rem;
  padding-right: 2rem;
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Karla", sans-serif;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

main {
  flex-grow: 1;
}

header, main, footer {
  flex-shrink: 0;
}

/*********************
Start Nav Bar (Header) Section
*********************/
.masterhead-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex: 1 0 30vw;
}

.menu li {
  margin: 0 1rem;
}

.menu-1 {
  justify-content: flex-end;
}

.logo {
  flex: 0 1 10vw;
  text-align: center;
}

.logo img {
  width: 150px;
}

@media all and (max-width: 400px) {
  .logo img {
    width: 60px;
  }
  tr,th,td {
    font-size: 12px;
  }

  header {
    font-size: 12px;
  }
}


/*  */

/*********************
End Nav Bar (Header) Section
*********************/

/*********************
Start Slide Show Section
*********************/
.slide-container {
  max-width: 800px;
  height: auto;
  margin: 0 auto;
  padding: 50px;
  position: relative;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #00D8B3;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.slider img {
  max-width: 100%;
  box-shadow: 10px 10px 20px 0 rgba(94,47,59,0.2);
}

.slider img.active {
  display: block;
  animation: fadeImg 0.8s;
}

/*********************
End Slide Show Section
*********************/

/*********************
Start Music Section
*********************/
.song-container {
  text-align: center;
  font-size: 30px;
}

.img-area {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.item {
  padding: 0 20px 20px;
  height: 400px;
  width: 400px;
}

 main div div div img:hover{
  opacity: .2;
  transition: .9s;
}

.img-area div a img {
  border-radius: 20%;
  
}

.img-area a {
  position: relative;
}

a span {
  display: none;
  position: absolute;
  bottom: 35px;
  width: 100%;
  padding: 10px;
  color: #070707;
  font-size: .60em;
  
}

a:hover span {
  display: block;
  transition: .9s;
}

@media all and (max-width: 800px) {
  .item {
    height: 300px;
    width: 300px;
  }
}
/*********************
End Music Section
*********************/

/*********************
Start Artist Section
*********************/
.artist-container {
  text-align: center;
  font-size: 30px;
}

.artist-area {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.artist-area div a img {
  border-radius: 100%;
  
}

.artist-item {
  padding: 0 20px 20px;
  height: 200px;
  width: 100px;
}
/*********************
End Artist Section
*********************/

/*********************
Start Tour Section
*********************/


table {
	display: flex;
	flex-flow: column nowrap;
	line-height: 1.25;
	border: 0;
}

caption {
	padding: 1rem;
	font-size: 1.5rem;
	font-weight: 900;
	color: black;
	caption-side: top;
	margin-bottom: 1em;
}

caption span {
	font-size: 1.25rem;
	font-weight: 300;
	color: #A52A2A;
}

tr {
	display: flex;
}

tr:nth-of-type(odd) {
	background-color: #fff;
}

th {
	font-weight: 700;
	background-color: #fff;
	color: #666;
}

th,
td {
	display: flex;
	flex: 1 0;
	align-items: center;
	justify-content: center;
	padding: 0.5rem 0.1rem;
	border-collapse: collapse;
	border-spacing: 0;
}

th {
	border-bottom: 1px solid #000;
}

/* This will affect only Chrome browsers 29+
	* See: http://browserhacks.com/
	* Hack because 'hyphens: auto;' is supported in Chrome only on Android & Mac 
	* and word-break 'overrides' hyphens in Firefox
	*/
.selector:not(*:root), th, td {
	word-wrap: break-word;
	overflow-wrap: break-word;
	word-break: break-all;
}

/* Breaking the numbers! */
.numbers {
	word-break: break-word;
}



/*********************
End Tour Section
*********************/

/*********************
Start footer Section
*********************/
.footer {
  display: flex;
  width: 100%;
  margin: 0 auto;
  color:  #151515;
  position: fixed;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding-top: 10px;
  color: #ff0019;
}

.copyright-left {
padding-left: 15px;
}
.icons-right {
padding-right: 15px;
}

@media all and (max-width: 400px) {
 .icons-right{
  transform: scale(0.6,0.6);
 }
 
 .copyright-left {
   font-size: 13px;
 }

}