@import url("https://fonts.googleapis.com/css?family=Karla&display=swap");

* {
  box-sizing: border-box;
}

*::before * ::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #070707;
}

a:link {
  transition: all 0.3s ease 0s;
}

a:visited {
  color: #070707;
}

a:hover {
  color: #28b0ff;
}

a:active {
  color: #28b0ff;
}

body {
  margin: 0;
  font-family: "Karla", sans-serif;
}

.container {
  width: 100%;
}

/*********************
Start Nav Bar (Header) Section
*********************/
.masterhead-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex: 1 0 30vw;
}

.menu li {
  margin: 0 1rem;
}

.menu-1 {
  justify-content: flex-end;
}

.logo {
  flex: 0 1 10vw;
  text-align: center;
}

.logo img {
  width: 100px;
}

@media all and (max-width: 400px) {
  .logo img {
    width: 60px;
  }
}

/*  */
/*********************
End Nav Bar (Header) Section
*********************/

/*********************
Start Slide Show Section
*********************/
.slide-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px;
}

.slider-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.slider-nav li {
  flex: 2;
  text-align: center;
  display: flex;
}

.slider img {
  max-width: 100%;
  display: none;
  box-shadow: 10px 10px 20px 0 rgba(94,47,59,0.2);
}

.slider img.active {
  display: block;
  animation: fadeImg 0.8s;
}

.slider-nav .arrow{
  flex: 0 0 15%;
}

.slider-nav a {
  flex-basis: 100%;
  display: flex;
  align-items: center;
}

.slider-nav span {
  display: block;
  width: 100%;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 20px 5px;
  color: #3c376f;
  font-size: 2rem; 
}

button span {
  position: relative;
  display: inline-block;
  transform: translateX(0);
  transition: transform 0.3s ease;
}

.previous:hover span {
  transform: translateX(-10px) scale(1.2);
}

.next:hover span {
  transform: translateX(10px) scale(1.2);
}

@keyframes fadeImg {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
/*********************
End Slide Show Section
*********************/

/*********************
Start Music Section
*********************/
